:root {
    --buttonBackground: #F3DF85;
    --buttonHoverBackground: #fcdc4f;
}

body {
    background-image: url('assets/bodyBackground');
    background-attachment: fixed;
    background-size: contain;
}

header {
    min-height: 10vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0.8em 0.5em;
    background-color: #fbf7e3c0;
    margin-bottom: 2em;
    position: sticky;
    top: 0;

    z-index: 5;

    /* border: 1px solid pink; */
}

.logo {
    flex-basis: 20%;
    display: flex;
    align-items: center;
    font-size: 3rem;

    /* border: 3px solid purple; */
}

.logo>img {
    display: block;
    width: 20%;
    padding-right: 0.1em;
    /* border: 1px solid palevioletred; */
}

.logo>figcaption {
    font-family: "Rouge Script", cursive;
    font-weight: 650;
    /* padding: 0.5em; */
    /* border: 1px solid palevioletred; */
}

#headerNavBar {
    flex-basis: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;


    /* border: 3px solid green */
}

#headerNavBar>span, .sideNav>span {
    flex-basis: 18%;
    /* fa riferimento allo span in se, non dentro*/
    padding: 0.5em 0.3em;

    background-color: var(--buttonBackground);
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    font-size: 1.5rem;

    /* border: 2px solid salmon; */
}

#headerNavBar>span:hover, .sideNav>span:hover {
    font-size: 1.7rem;
    background-color: var(--buttonHoverBackground);
    font-style: italic;
    cursor: pointer;
}

.navImg {
    display: none;
    max-width: 20%;
}

#icons {
    display: flex;
    flex-basis: 10%;
    justify-content: space-evenly;
    align-items: center;

    /* border: 3px solid blue; */
}

#icons a, .iconMobile {
    font-size: 2ch;
    background-color: #fbeeaa;
    padding: 0.5em;
    border-radius: 10px;

    border: 2px solid #602304;

}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}


#article {
    max-width: 80%;
    scroll-margin-top: 12vh;
    /*per il link nel nav*/

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    /* border: 3px solid fuchsia; */
}

section>figure {
    background-color: #fbeeaa;
    border-radius: 30px;

    flex-basis: 70%;

    padding: 2em;

    display: flex;
    flex-wrap: wrap-reverse;

    justify-content: space-between;
    align-items: center;
}

section>figure img {
    display: block;
    border-radius: 30px;
    /* max-width: 410px; */

    margin: 1.5em;

    /* border: 3px solid #602304; */
}

section>figure>figcaption {
    font-size: 1.5rem;
    flex-basis: 50%;
    flex-grow: 1;
    padding: 0 2em;
}

#traceHoney img {
    order: 2;
}

#card {
    border-radius: 25%;
    overflow: hidden;
    background-color: #fbeeaa;
    scroll-margin-top: 12vh;
    flex-basis: 25%;

}

.cardContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#card>.cardContent img {
    display: block;
    max-width: 400px;
}

.cardTxt {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 2em;
    text-align: center;
}

.cardInfo {
    flex-basis: 70%;
    margin-bottom: 0.5em;
}

.cardPrice {
    flex-basis: 30%;
    font-size: 1.5rem;
}

.cardTxt>button {
    flex-basis: 80%;
    background-color: var(--buttonBackground);
    font-size: 1.3rem;
    border: none;
    padding: 0.3em 0.2em;
    border-radius: 30px;
}

.cardTxt>button:hover {
    background-color: var(--buttonHoverBackground);
    font-style: italic;
    cursor: pointer;
}

.divImmagine {
    background-image: url('./assets/honey.jpg');
    height: 200px;
    width: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    /* border: 2px solid pink; */
}

.iconMobile{
    display: none;
}

.side {
    /* display: none;  */

    background-color: rgb(252, 234, 200);
    width: 300px;
    height: 100%;
    position: fixed;
    top: 0px;
    right: -300px;
    z-index: 9;
}

/* overlay */
.displaySee { 
    /* display: block; */
    right: 0px;
    animation-name: example;
    animation-duration: 1s;
}
.displayHide {
    right: -300px;
    animation-name: noshow;
    animation-duration: 1s;
}

.sfondo {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: rgba(0,0,0,0.7);
    z-index: 8;
}

.sideNav {
    display: flex;
    flex-direction: column;

    padding: 1em;
}

.sideNav>span {
    margin-bottom: 1em;
    padding:1em 2em;
    font-size: 1.6rem;
    font-weight: 500;
    justify-content: space-between;
}
.side>.logo{
    margin: 1em;
    display: flex;
    justify-content: space-around;
}

.sideNav img {
    display: block;
}


@keyframes example {
    from {right: -300px;}
    to {right: 0px;}
}
@keyframes noshow {
    from {right: 0px;}
    to {right: -300px;}
}


/* ipad */
@media only screen and (max-width: 1300px) {
    header {
        justify-content: space-between;
        padding: 0px 20px;
    }
    .logo {
        flex-basis: 50%;
    }
   
    .sectionImgDiv, .sectionTxtDiv{
        width: 100% !important;
   }

   .sectionImgDiv {
        display: flex;
        justify-content: center;
   }

   section>figure {
        flex-basis: calc(60% - 10px);
        border-radius: 20px;
        /* padding: 0; */
   }
   #card {
        flex-basis: calc(40% - 10px);
        border-radius: 20px;
        height: fit-content;
        position: sticky;
        top: 75px;
   }
   #article {
        max-width: 100%;
        margin: 0 20px;
        position: relative;

   }
   .iconMobile {
        display: block;
   }

   #headerNavBar, #icons {
    display: none;
   }
}

/* mobile */
@media only screen and (max-width: 425px) {
    .logo  {
        font-size: 2.5rem;
        justify-content: space-evenly;
    }
    .logo>img {
        width: 30px;
    }
    
    #article>figure {
        flex-basis: calc(100% - 10px);
        text-align: center;
        margin-bottom: 0.5em;
    }

    #card {
        flex-basis: calc(70% - 10px);
        margin: auto;
    }
    .sideNav {
        align-items: center;
    }
    .sideNav>span {
        font-size: 1.3rem;
        width: 70%;
    }
    .sideNav img {
        width: 20px;
    }
}
