body {
    background-image: url('assets/bodyBackground');
    background-attachment: fixed;
    background-size: contain;
}

header {
    min-height: 10vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0.8em 0.5em;
    background-color: #fbf7e3c0;
    margin-bottom: 0.5em;
    position: sticky;
    top: 0;

    /* border: 1px solid pink; */
}

#logo {
    flex-basis: 20%;
    display: flex;
    align-items: center;
    font-size: 3rem;

    /* border: 3px solid purple; */
}

#logo>img {
    display: block;
    max-width: 20%;
    padding-right: 0.1em;
    /* border: 1px solid palevioletred; */
}

#logo>figcaption {
    font-family: "Rouge Script", cursive;
    font-weight: 650;
    /* padding: 0.5em; */
    /* border: 1px solid palevioletred; */
}

#headerNavBar {
    flex-basis: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;


    /* border: 2px solid #602304 */
}
#headerNavBar>span {
    flex-basis: 19%; /* fa riferimento allo span in se, non dentro*/
    padding: 0.8em 0.5em;
    background-color: #F3DF85;
    border-radius: 30px;
    display: flex;
    /* flex-shrink: 2; */
    align-items: center;
    justify-content: space-evenly;
    
    font-size: 1.5rem;

    /* border: 2px solid salmon; */
}
.navImg {
    display: block;
    max-width: 20%;
}

#icons {
    /* height: 90%; */
    display: flex;
    flex-basis: 10%;
    justify-content: space-evenly;
    align-items: center;

    /* border: 1px solid blue; */
}

#icons>a {
    font-size: 2ch;
    background-color: #fbeeaa;
    padding: 0.5em;
    border: 2px solid #602304;
    border-radius: 10px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}


#article,
#traceHoney {
    /* background-color: #fbeeaa; */
    max-width: 80%;
    scroll-margin-top: 12vh; /*per il link nel nav*/

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    /* border: 3px solid fuchsia; */
}

section>figure {
    background-color: #fbeeaa;
    border-radius: 30px;

    flex-basis: 70%;

    padding: 2em;

    display: flex;
    flex-wrap: wrap-reverse;

    justify-content: space-between;
    align-items: center;
}

section>figure img {
    display: block;
    border-radius: 30px;
    max-width: 410px;

    margin: 1.5em;

    border: 3px solid #602304;
}

section>figure>figcaption {
    font-size: 1.5rem;
    flex-basis: 50%;
    flex-grow: 1;
    padding: 0 2em;
}

#traceHoney img {
    order: 2;
}

#card {
    border-radius: 25%;
    overflow: hidden;
    background-color: #fbeeaa;
    scroll-margin-top: 12vh;
    flex-basis: 25%;
 
}
.cardContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#card > .cardContent img{
    display: block;
    max-width: 400px;
}

.cardTxt {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 2em;
    text-align: center;
}
.cardInfo {
    flex-basis: 70%;
    margin-bottom: 0.5em;
}
.cardPrice{
    flex-basis: 30%;
    font-size: 1.5rem;
}
.cardTxt>button {
    flex-basis: 80%;
    background-color: #F3DF85;
    /* font-size: 1.3rem; */
    border: none;
    padding: 0.3em 0.2em;
    border-radius: 30px;
}

/* smartphone e tablet */
@media screen and (max-width:794px) {
    header {
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 0.5em 0.8em;
    }
    #logo {
        flex-basis: 40%;
        font-size: 2rem;
    }
    #headerNavBar {
        order: 3;
        flex-basis: 100%;
        justify-content: space-between;
    }
    #headerNavBar>span {
        font-size: 0.8rem;
        justify-content: center;
    }
    /* tolgo l'immagine che non serve e altrimenti il testo diventa troppo piccolo */
    #headerNavBar img {
        display: none;
    }

    #article {
        justify-content: center;
        align-items: center;
    }
    section>figure {
        padding:1em;
        justify-content: center;
    }
    section>figure img {
    max-width: 230px;
    margin:0;
    }
    section>figure>figcaption {
        font-size: 1rem;
        margin-bottom: 1em;
    }


    #card {
        margin-top: 1em;
        flex-basis: 45%;
        font-size: 1rem;
    }
    #card > .cardContent img {
        max-width: 300px;
    }

}

@media screen and (max-width:425px) {
    #card {
        flex-basis: 70%;
    }
}

@media screen and (max-width:375px) {
    #card {
        flex-basis: 90%;
    }
}