body {
    background-image: url('assets/bodyBackground');
    background-attachment: fixed;
    background-size: contain;
}

header {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1.5em;
    background-color: #FBF7E3;
    opacity: 0.9;
    margin-bottom: 0.5em;
    position: sticky;
    top: 0;

    /* border: 1px solid pink; */
}

#logo {
    flex-basis: 30%;
    display: flex;
    height: 70%;
    align-items: center;

    /* border: 3px solid purple; */
}

#logo>img {
    height: 90%;
    /* border: 1px solid palevioletred; */
}

#logo>figcaption {
    font-family: "Rouge Script", cursive;
    font-weight: 650;
    font-size: 3ch;
    padding: 0.5em;
}

#icons {
    height: 90%;
    padding: 1em;
    display: flex;
    flex-basis: 10%;
    justify-content: space-evenly;
    align-items: center;

    /* border: 1px solid blue; */
}

#icons>a {
    font-size: 2ch;
    background-color: #fbeeaa;
    padding: 0.5em;
    border: 2px solid #602304;
    border-radius: 10px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#mainNavBar {
    background-color: #FBF7E3;
    border-radius: 30px;
    width: 60%;
    height: 10vh;
    padding: 1em;
    margin: auto;
    margin-bottom: 0.5em;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: sticky;
    top: 0;

    /* border: 2px double #602304 */
}

.navImg {
    height: 80%;
}

/* #mainNavBar img {
    display: none;
} */

/* onmuoseover -> fa vedere logo e fontweight 600 */
#mainNavBar>span {
    height: 100%;
    padding: 0.8em 0.5em;
    background-color: #F3DF85;
    border-radius: 30px;
    display: flex;
    flex-basis: 15%;
    align-items: center;
    justify-content: space-around;

    /* border: 2px solid salmon; */
}

#mainNavBar a {
    font-size: 1.7ch;
}

#article,
#traceHoney {
    background-color: #fbeeaa;
    width: 80%;
    border-radius: 30px;
}

main figure {
    padding: 1em;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    /* align-items: center; */
}

main figure>img {
    border-radius: 30px;
    flex-basis: 30%;
    width: 20%;
    flex-grow: 1;
}

main figure>figcaption {
    font-size: 2ch;
    flex-basis: 50%;
    flex-grow: 1;
    padding: 0 2em;
}

#traceHoney img {
    order: 2;
}

#card {
    width: 400px;
    border-radius: 25%;
    overflow: hidden;
    background-color: #fbeeaa;
}

.cardTxt {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 2em;
}
.cardInfo {
    flex-basis: 70%;
    margin-bottom: 0.5em;
}
.cardPrice{
    flex-basis: 30%;
    font-size: 1.5rem;
}
.cardTxt>button {
    flex-basis: 90%;
    background-color: #F3DF85;
    font-size: 1.3rem;
    border: none;
    border-radius: 30px;
}

/* smartphone e tablet */
@media screen and (max-width:768px) {
    #mainNavBar {
        width: 100%;
        margin: 0;
        margin-bottom: 0.5em;
    }

    #article,
    #traceHoney {
        width: 100%;
    }

}